.checkoutContainer {
  display: flex;
  justify-content: space-between;
}

.cartItemsContainer {
  width: 70%;
}

.cartSummaryContainer {
  width: 30%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.totalPriceContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btnAddToCart {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btnAddToCart:hover {
  background-color: #2980b9;
}

@media (max-width: 768px) {
  .checkoutContainer {
    flex-direction: column;
  }

  .cartSummaryContainer {
    width: 100%;
    margin-top: 20px;
  }
}
